#download-all-button {
    margin: auto;
    display: block;
}

#table-tabs p {
    display: inline;
}

#table-search {
    width: 100%;
}

.scrollableTable {
    overflow: auto;
    height: 60vh;
}

#bibliography-table {
    table-layout: fixed;
    width: 100%;
}

#bibliography-table thead th {
    position: sticky;
    top: 0;
    cursor: pointer;
    width: 12.5%;
}

#bibliography-table thead th.longColumn {
    width: 20%;
}

#bibliography-table thead th.shortColumn {
    width: 7.5%;
}

#bibliography-table tbody tr {
    background-color: white;
}

#num-entries {
    width: 100%;
}

#num-entries p {
    text-align: right;
    font-style: italic;
    color: gray;
}