#table-tabs p {
    display: inline;
}

#table-search {
    width: 100%;
}

.scrollableTable {
    overflow: auto;
    height: 60vh;
}

#bibliography-table thead th {
    position: sticky;
    top: 0;
    cursor: pointer;
}

#bibliography-table tbody tr {
    background-color: white;
}

#num-entries {
    width: 100%;
}

#num-entries p {
    text-align: right;
    font-style: italic;
    color: gray;
}