<td>{{ entry.year }}</td>
<td>{{ entry.author | default: entry.editor }}</td>
<td>{{ entry.title }}</td>
<td>
    {% if entry.journal %}
        {{ entry.journal }}
    {% elsif entry.booktitle %}
        {{ entry.booktitle }}
    {% else %}
        {{ entry.publisher }}
    {% endif %}
</td>
<td>{{ entry.pages }}</td>
<td>
    {% if entry.url %}
        <a href="{{ entry.url }}">Link</a>
    {% endif %}
</td>
<td><button onclick="copyBibtex(`{{ entry.bibtex | escape }}`)">Copy BibTeX to Clipboard</button></td>